[core]
    attributesFile = ~/.gitattributes
	pager = bat --paging=always
	editor = nvim

[diff "zip"]
    textconv = unzip -p
    binary = true
[diff "gz"]
    textconv = gzcat
    binary = true
[diff "bz2"]
    textconv = bzcat
    binary = true
[diff "xz"]
    textconv = xzcat
    binary = true
[diff "tar"]
    textconv = tar -O -xf
    binary = true
[diff "tar-bz2"]
    textconv = tar -O -xjf
    binary = true
[diff "tar-gz"]
    textconv = tar -O -xzf
    binary = true
[diff "tar-xz"]
    textconv = tar -O -xJf
    binary = true

[diff "odf"]
    textconv = odt2txt
[diff "pdf"]
    textconv = pdfinfo
[diff "bin"]
    textconv = hexdump -v -C

[init]
	defaultBranch = main
[color]
	ui = auto

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    line-numbers = true

[merge]
    conflictstyle = zdiff3

[include]
    path = ~/.gitconfig.local
[user]
	name = Wojciech Pędzimąż
	email = wojciech.pedzimaz@techmo.pl
[pull]
	rebase = true
[rebase]
	autoStash = true
[fetch]
	prune = true
[diff]
	tool = vimdiff
[credential "https://gitlab.gnome.org"]
	helper =
	helper = !/usr/bin/glab auth git-credential
[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[url "https://gitlab.devtechmo.pl/"]
	insteadOf = git@gitlab.devtechmo.pl:
[credential "https://gitlab.devtechmo.pl"]
	helper = !/usr/bin/glab auth git-credential
